<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset password</title>
</head>
<body>
    <h1>Reset Password for <%=email%></h1>
    <form action="/user/chgpass" method="post">
        <input type="text" name="email" value="<%=email%>" hidden>
<input placeholder="password" type="password" name="pass" required/>
<br>
<input placeholder="confirm password" type="password" name="conpass" required/>
<br>
<button>Change password</button>
    </form>
</body>
</html>